$font: "Open Sans", sans-serif, Arial, Helvetica;
$default-font-size: 12pt;
$small-font: 10pt;
$border-radius: 25px;

$default-color: hsl(200, 100%, 30%);
$background-color: hsl(0, 4%, 16%);
$link-color: hsl(200, 100%, 100%);
