<!-- this is where the footer stuffs goes -->
<footer class="row clearfix" id="footer">
    <div class="col-xs-12 col-md-3"></div>
    <div id="social-media" class="col-xs-12 col-md-6">
        <ul>
            <li><a href="https://twitter.com/zenbrewmaster" target="_blank"><div class="social"><i class="ic icon-twitter icon-3x"></i></div></a></li>
            <li><a href="https://www.facebook.com/barefootphilosopher" target="_blank"><div class="social"><i class="ic icon-facebook icon-3x"></i></div></a></li>
            <li><a href="https://plus.google.com/u/0/109614161319186969298/posts/p/pub" target="_blank"><div class="social"><i class="ic icon-google-plus icon-3x"></i></div></a></li>
            <li><a href="https://github.com/zenkitties" target="_blank"><div class="social"><i class="ic icon-github icon-3x"></i></div></a></li>
            <li><a href="mailto:nick@zenkitties.pw"><div class="social"><i class="ic icon-envelope icon-3x"></i></div></a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-3">
    </div>
</footer>

