<!-- this is all the header code -->
<header>
    <div class="container-fluid">
        <div class="row nav-styles">
            <nav>
                <div id="brand" class="col-xs-12 col-md-3 col-md-offset-1"></div><!--branding of zen kitties-->
                <div id="menu-bar" class="col-xs-12 col-md-8">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Me</a></li>
                        <li><a href="#">Websites</a></li>
                        <li><a href="#">Resume</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div><!-- menu or navigational bar -->
            </nav><!-- navbar ending -->
        </div><!-- navbar row -->
    </div><!-- navbar container end -->
    <div class="container-fluid">
        <div class="row kittens"></div><!-- kittens image block -->
    </div><!-- kittens container-->
</header><!-- end of header block -->