<!-- all the updates -->
<article class="updates">
    <h3>Why are directives so addictive?</h3>
    <h5>Sept. 24, 2015</h5>
    <p>I honestly think that should be a legit and reasonable question to ask. Today I created a few custom tags in angular which comes out of
    coding a couple of custom directives. The directives that I am using happen to be crucial snippets of code (like my header and footer html stuffs)
    that are going to stay static but would clutter my index page up.</p>

    <p>They are honestly super addictive though as I ended up creating four directives today to clean up my index page which include: <span class="blue">footer, header, skills, and updates</span> pages.
    If you take a look at my code, you will see that the index page is looking pretty sparse. What you will see though are tags you wouldn't commonly see because
    I created fancy <span class="blue">zen-kitty</span> html tags.</p>

    <p>More to come in terms of this.. I smell an About me section erecting along with <span class="blue">ng-view</span> in coming updates.</p>
</article>
<article class="updates">
    <h3>Toggle all the skills!</h3>
    <h5>Sept. 22, 2015</h5>
    <p>As you can I have made two updates today. Well the reason for that is because my last update was done probably around 1am in the morning. This update
        was completed around 4:10pm. After fixing my aside or right side navigation I wanted to add some <span class="blue">Angular JS</span> functionality to it.
        So for that to happen I pulled the data from my controller which has all my skills in it to toggle them through <span class="blue">ng-show and ng-repeat</span></p>

    <p>It's pretty cool stuffs. So now you should be able to hover over my image and click the picture and take a peek at some of the skills that I've amassed over the couple
        of years of being a web developer. I will say again that this process is so smooth when it comes to Angular and using <span class="blue">SCSS</span> with mixins. Anyway, you can checkout
        my code and github page here. It will be like this until I finish my portfolio and sync my project with my real domain.</p>
</article>
<article class="updates">
    <h3>Side Skills Navigator</h3>
    <h5>Sept. 22, 2015</h5>
    <p>Today I worked on getting the right side skills navigator to work through <span class="blue">Angular JS</span>. Finally with much success.
        I included a list of skills which can be accessed by clicking the picture of myself on the right hand site of this portfolio. They are of the
        ones I consider my best assets that I've picked up over the course of a year and a half of learning developer languages.</p>

    <p>I also put the skills in an <span class="blue">Angular JS</span> controller which can be accessed at my leisure and then
        transmitted through a thing known as <span class="blue">ng-source</span>. That's one of those fancy things! Once the aside bar
        on the right is completely finished, I hope to move it into a directive that I'll be able to send in as to not clutter the main page
        full of unnecessary code.</p>
</article>
<article class="updates">
    <h3>First Sample Update</h3>
    <h5>Sept. 3, 2015</h5>
    <p>Today I did a little bit of implementation of <span class="blue">SASS</span> with the footer social media to give it the illusion
        of those icons (which were imported through font-awesome) to be round. I created a smoothing transition affect
        so that the hover is subtle yet smooth. CSS has really come a long way with <span class="blue">CSS3</span>!</p>

    <p>I also worked on other parts of the layout like the styling of these updates which will eventually be put either
        into a service or factory, or inside a controller full of <span class="blue">AngularJS</span> magic.</p>
</article>